RC_MOCK_DATABASE = true

TYPEORM_SYNCHRONIZE = true
TYPEORM_DROP_SCHEMA = true
TYPEORM_LOGGING = false

TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = 123
TYPEORM_DATABASE = cestou_db
TYPEORM_PORT = 5432

TYPEORM_ENTITIES = src/models/**/*
TYPEORM_MIGRATIONS = src/subscriber/**/*
TYPEORM_SUBSCRIBERS = src/migration/**/*

TYPEORM_MIGRATIONS_DIR = src/migration
TYPEORM_SUBSCRIBERS_DIR = src/subscriber
TYPEORM_ENTITIES_DIR = src/models